
@{
    ViewBag.Title = "SamplePost";
}

<!-- Page Header -->
<header class="masthead" style="background-image: url('/Content/img/loremipsum.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>Sample Post</h1>
                    <h2 class="subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h2>
                    <span class="meta">
                        Posted by
                        <a href="#">E.J Bulaong</a>
                        @DateTime.Now.ToString("MM/dd/yyyy h:mm tt")
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>Ullamcorper mollis malesuada pellentesque platea euismod sociosqu nisi tristique lobortis interdum vulputate maecenas. Etiam consequat nostra facilisis primis arcu pretium enim in nisi diam tristique feugiat? Maecenas cursus dui maecenas eleifend ultricies etiam arcu aliquet dolor curabitur platea. Potenti fermentum feugiat parturient arcu maecenas nascetur amet, molestie cum non congue elit. Velit faucibus magna purus molestie consectetur ligula bibendum..</p>
                <p>Neque, justo ut ac curabitur magnis proin dapibus magna. Congue; vivamus molestie sem etiam tincidunt. Id magna odio, sollicitudin non aliquet euismod donec sed primis odio. Pretium nunc tempus sociosqu auctor dolor suspendisse ante. Turpis mi sit sit taciti venenatis ad, netus pharetra condimentum aliquam tempus sed. Sed aliquet ligula risus tellus nunc, cubilia sit risus..</p>
                <p>Etiam consequat nostra facilisis primis arcu pretium enim in nisi diam tristique feugiat? Maecenas cursus dui maecenas eleifend ultricies etiam arcu aliquet dolor curabitur platea. Potenti fermentum feugiat parturient arcu maecenas nascetur amet, molestie cum non congue elit. Velit faucibus magna purus molestie consectetur ligula bibendum..</p>
                <p>Neque, justo ut ac curabitur magnis proin dapibus magna. Congue; vivamus molestie sem etiam tincidunt. Id magna odio, sollicitudin non aliquet euismod donec sed primis odio. Pretium nunc tempus sociosqu auctor dolor suspendisse ante. Turpis mi sit sit taciti venenatis ad, netus pharetra condimentum aliquam tempus sed. Sed aliquet ligula risus tellus nunc, cubilia sit risus..</p>
                <h2 class="section-heading">Arcu Pretium Enim</h2>
                <p>Neque, justo ut ac curabitur magnis proin dapibus magna. Congue; vivamus molestie sem etiam tincidunt. Id magna odio, sollicitudin non aliquet euismod donec sed primis odio. Pretium nunc tempus sociosqu auctor dolor suspendisse ante. Turpis mi sit sit taciti venenatis ad, netus pharetra condimentum aliquam tempus sed. Sed aliquet ligula risus tellus nunc, cubilia sit risus..</p>
                <p>Etiam consequat nostra facilisis primis arcu pretium enim in nisi diam tristique feugiat? Maecenas cursus dui maecenas eleifend ultricies etiam arcu aliquet dolor curabitur platea. Potenti fermentum feugiat parturient arcu maecenas nascetur amet, molestie cum non congue elit. Velit faucibus magna purus molestie consectetur ligula bibendum..</p>
                <blockquote class="blockquote">Neque, justo ut ac curabitur magnis proin dapibus magna. Congue; vivamus molestie sem etiam tincidunt.</blockquote>
                <p>Spaceflights cannot be stopped. This is not the work of any one man or even a group of men. It is a historical process which mankind is carrying out in accordance with the natural laws of human development.</p>
                <h2 class="section-heading">Arcu Pretium Enim</h2>
                <p>Ullamcorper mollis malesuada pellentesque platea euismod sociosqu nisi tristique lobortis interdum vulputate maecenas. Etiam consequat nostra facilisis primis arcu pretium enim in nisi diam tristique feugiat? Maecenas cursus dui maecenas eleifend ultricies etiam arcu aliquet dolor curabitur platea. Potenti fermentum feugiat parturient arcu maecenas nascetur amet, molestie cum non congue elit. Velit faucibus magna purus molestie consectetur ligula bibendum..</p>
                <p>Neque, justo ut ac curabitur magnis proin dapibus magna. Congue; vivamus molestie sem etiam tincidunt. Id magna odio, sollicitudin non aliquet euismod donec sed primis odio. Pretium nunc tempus sociosqu auctor dolor suspendisse ante. Turpis mi sit sit taciti venenatis ad, netus pharetra condimentum aliquam tempus sed. Sed aliquet ligula risus tellus nunc, cubilia sit risus..</p>
                <p>Etiam consequat nostra facilisis primis arcu pretium enim in nisi diam tristique feugiat? Maecenas cursus dui maecenas eleifend ultricies etiam arcu aliquet dolor curabitur platea. Potenti fermentum feugiat parturient arcu maecenas nascetur amet, molestie cum non congue elit. Velit faucibus magna purus molestie consectetur ligula bibendum..</p>
                <p>Neque, justo ut ac curabitur magnis proin dapibus magna. Congue; vivamus molestie sem etiam tincidunt. Id magna odio, sollicitudin non aliquet euismod donec sed primis odio. Pretium nunc tempus sociosqu auctor dolor suspendisse ante. Turpis mi sit sit taciti venenatis ad, netus pharetra condimentum aliquam tempus sed. Sed aliquet ligula risus tellus nunc, cubilia sit risus..</p>             
            </div>
        </div>
    </div>
</article>
